 
.header {
    /*overflow: hidden;*/
    background-color: #f1f1f1;
    padding: 20px 10px;
  }
  
.logo-img {
    /* background-color: pink; */
    /* text-align: center; */
    margin: 10px 10px;
    height: 160px;
    padding: 30px 30px;
     /*padding-bottom: 20px; */
}
.hang{
    background-color: pink;
}
.btn-head{
    
    margin: 10px 10px;
    height: 160px;
    padding: 30px 30px;

}
.btn-head button{
    background-color: #666;
    /*display: block;*/
  /*margin-left: auto;*/
  margin-right: 0px;
  float: right;
  margin-top: 5px;
  width: 60%;
  font-size: 20px;
  color: white;
}


.logo-img img{
    display: block;
  margin-left: 0px;
  /*margin-right: auto;*/
  width: 50%;

}

  /* Style the header links */
  .header a {
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  /* Change the background color on mouse-over */
    .header a:hover {
    background-color: #ddd;
    color: white !important;
  }
  
  /* Style the active/current link*/
  .header a.active {
    color:black;
  }
  
  /* Float the link section to the right */
  .header-right a{
    text-align: center;
    margin-left: ;
    font-size: 16px;
    font-weight: bold;
    font-family:  'Dancing Script', cursive;
    
  }
.header-right{

  margin-left:500px;
}
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  /* @media screen and (max-width: 500px) {
    .header a {
      float: left;
      display: block;
      text-align: left;
      margin-left: 0px;
    }
    .header-right {
      /* float: none; */
    }
  } */

.cat-img{
    background-color: #57ca00;
}
.cat-body{
    /* background-color: black; */
    position: relative;
    text-align: center;
    
}
.button-sec{
    background-color: pink;
    color: white;
    position: absolute;
    bottom: 200px;
    display: block;
    left: 250px;
    width: 10%;
    height: 400px;
    width:400px;
    opacity: 0.8;
}
  .cat-body img{   
    width: 100%;
    position: relative;
  }
.button-sec p{
    color: black;
    font-size: 30px;
    padding: 50px 40px;
    font-family:  'Dancing Script', cursive;
}
.button-sec button{
    background-color: #666;
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  width: 70%;
  font-size: 20px;
  color: black;
}
/* ourCutiee  */

.ourCutiee {
    padding: 80px 0;
}
.ourCutiee h2 {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}

.ourCutieeBox {}
.ourCutieeBox img {}
.ourCutieeBox h3 {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}
.ourCutieeBox p {
    text-align: center;
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}
.ourCutieeBox a {
    display: table;
    margin: 0px auto;
    color: #fff;
    font-size: 16px;
    background-color: #9e9797;
    border-radius: 7px;
    padding: 7px;
}
.ourCutieeBox a:hover {
    color: black;
    background-color:#dddddd ;
    text-decoration: none;
}
s
/*Our Mission */
.our-mission{
	padding: 50px 0;
}
.our-mission p{
  font-family: 'Redressed', cursive;
}
.mission-text h2{
    font-size: 32px;

    
}
/*.mission-text p{
	font-size: 18px;
  font-family: 'Redressed', cursive;

}
*/
.img-text{
    margin-bottom: 50px;
}

.partner-img{
        margin-bottom: 20px;
        display: block;
        width: 100%;
        /* background-color: #57ca00; */
        text-align: center;
    
}
.partner-img1{
    margin-bottom: 20px;
    display: block;
    width: 100%;
    /* background-color: #57ca00; */
    text-align: center;
    margin-bottom: 30px;

}
.img-text img {width: 100%  }
/*Our Mission*/

/* News And Events */

.news-events{
    /* padding: 50px; */
    /* background-color: #666; */
    /*margin-top: 10px;*/
}


#hash{
  
  /*overflow-y: scroll;*/
  overflow-y: scroll;

  /*position: relative;*/
  /*height: 940px;*/
}
.news-events img{
  width: 100%;

}
.news-events h4{
  color: #ffff;
  font-size: 26px;
  text-align: center;
  padding: 10px 5px;
}
#hash{
    background-color: grey;
    /*height: 940px !important;*/
}
#hash ul{
list-style-type: none;  
}

#hash li{
    /*display: inline-block;*/
    padding: 0px;
    /*border: 1px solid red;*/
    margin: 5px 0px;
    float: left;



}
div#hash {
    height: 939px;
}
#hash img{
  width: 100%;
   height: 100%;
   display: inline-flex;
  /*float: left;*/
  /*left: 0px;*/
  /*margin-left: -50px;*/
}
#hash p{
  font-size: 20px;
  /*padding-left: 0px;*/
  /*margin-left: 0px;*/
  /*margin: 20px 0px;*/
  /*display: inline-flex;*/
  /*flex-direction: row-reverse;*/
  color: #fff;
  padding: 6px 0px;
  /*margin-left: -60px;*/
}
.news-events{
    /*background-color: grey;*/
   /* height: 815px;
    margin-left: 750px;
    margin-bottom: 10px;*/
    /* margin-top: -18px; */ */
    /* display: contents; */
    /* margin-top: 0px; */
   
    /* float: right; */
}
.imag-build{
    /* background-color: #57ca00; */
    /*width: fit-content;*/
}
.heading-trend{
    /* margin-left: 0px; */
}

/* News And Events */

.team-heading h4{
    margin-top: 40px;
    text-align: center;
    font-size: 40px;
font-family:  'Dancing Script', cursive;
    font-weight: bold;
}
.container img{
    /*margin-top: 40px;*/
    
}
.container h5{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;

}
.mission-text h2 {
    font-size: 32px;
    margin-top: 60px;
    text-align: center;
}

.our-mision p {
   font-size: 20px;
    
    text-align: justify;
   font-family: 'Dancing Script', cursive;
}
.team p{
    text-align: center;
    font-size: 18px;
font-family:  'Dancing Script', cursive;
}
.subscribe h5{
    text-align: center;
    font-size: 26px;
    font-family:  'Dancing Script', cursive;

}
.subscribe h6{
  text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}
.subscribe input{
  display: block;    
    margin-left: 41%;
     right: 50%; 
}
.subscribe img {
    position: absolute;
    left: 34%;
    margin-left: 0px;
    /* margin-bottom: 500px !important; */
}
.subscribe button {
    position: relative;
    left: -8%;
    /* margin-left: 0px; */
    /* top: 50%; */
    /* margin-top: -50px; */
    /* bottom: 54%; */
    margin-top: 33%;
    width: 21%;
    margin-left: -59px;
    font-weight: 600;
    font-family:  'Dancing Script', cursive;
    font-size: 19px;
}
.subscribe button:hover {
    background-color: red;
transition: 1s;
}


.mish6{
    margin-top: 30px;
    font-size: 23px;
    font-weight: bold;
    font-family:  'Dancing Script', cursive;
    text-align: center;
    color: lightgreen;
}
.mish7{
font-size: 23px;
    font-weight: bold;
    font-family:  'Dancing Script', cursive;
    text-align: left;
    color: lightgreen;
    margin-left: 40px;

}
#mish8 img{
  margin-right: 15px;
  float: left;
  margin-left: 40px;
}

.footer h3{
  color: lightgreen;
  font-family:  'Dancing Script', cursive;
  font-size: 20px;

}
img.getss {
  position: absolute;
    width: 5%;

    /*bottom: 50px;*/
}
.footer-phone{
  color: white;
  margin-left: 40px;
  /*padding-top: 2px;*/
  font-size: 17px;
  font-family:  'Dancing Script', cursive;
}
/*img.getss p{
  position: relative;
  left: 0px;
  margin-left: 0px;
}*/

.footer-p{
    text-align: center; 
    font-size: 18px;
    font-family:  'Dancing Script', cursive;
    color: #ffff;
}
.logo-img1{
  /*mar*/
  margin-left: 0px;
  margin-bottom: 15px;
}

/*.footer p{
 
}*/
footer.footer {
  margin-top: 20px;
    /* bottom: 181px; */
    /*position: relative;*/
    background-color: #000;
    /*position: abs;*/
    top: 10px;
}
/* About Us*/

.aboutUS{
  /*background-color: lightgrey;*/
  padding-bottom: 100px;
}
.abouext {
    margin-top: 50px;
}
.aboutUS h2{
  text-align: center;
  color: #000;
  font-size: 46px;
  font-family:  'Dancing Script', cursive;
  padding: 6px 0px;
  font-weight: bold;
  margin-top: 100px;
}

.footer input {
    left: 40px;
    /* width: 57%; */
    margin-top: 30px;
}

.footer button{
  margin-left: 40px;
    /* width: 57%; */
    margin-top: 10px;
    width: 55%;
    background-color: lightgreen;
    color: black;
    font-family: 'Dancing Script', cursive;
    font-size: 19px;
}


.aboutUS h3{
 text-align: center;
  color: #000;
  font-size: 38px;
  font-family:  'Dancing Script', cursive;
  padding-left:130px   ;
  font-weight: bold;
  padding-top: 60px; 
}

.aboutUS p {
    padding: 0px 0px;
    /* text-align: center; */
    color: #000;
    font-size: 19px;
    font-family:  'Dancing Script', cursive;
    /* padding-left: 130px; */
    /* padding-top: 10px; */
    line-height: 25px;
    font-weight: 500;
    /* margin-right: 45px; */
    margin-left: 0px
}


.innerabout{
  margin-top: 20px;
}
.innerabout button{
  text-align: center;
  margin-left: 0px;
  width: 30%;
  /*margin-top: 70px;*/
  bottom: 0px;
  font-family:  'Dancing Script', cursive;
  font-size: 19px;
  font-weight: bold;
}

.innerabout button:hover{
background-color: red;
transition: 1s;
}
.innerabout img{
 
  margin-top: 40px;

}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  width: 60%;
}
.subtitle{
  font-weight: normal;
}

.abouext h5 {
    text-align: center;
    font-size: 24px;
}
.abouext p{
  text-align: center;
  font-size: 19px; 
}
.about h4{
  text-align: center;
 font-family:  'Dancing Script', cursive;
   font-weight: 600;
  font-size: 32px;

}

/*About Us*/




/*Contact US*/

.reg-form{

}

.reg-form form{
  margin-left: 0px;
/*background-color: lightgrey;*/
}

.reg-form label{
  font-family:  'Dancing Script', cursive;
  font-size: 19px;
  /*display: flex;*/
  /*position: absolute;*/
  /*margin-left: 100px;*/
  /*margin-left: 180px;*/
  
  

}
.reg-form input{
  /*position: inline;*/
  width: 100%;
  margin-left: 0px;
}
.checkk{
  /*width: 100%;*/
}
  

.reg-form h2{
   text-align: center;
  color: #000;
  font-size: 46px;
  font-family:  'Dancing Script', cursive;
  padding: 6px 0px;
  font-weight: bold;
  margin-top: 100px;
}


.reg-form button{
  width: 100%;
  margin-left: 0px;
}


.vl {
  border-left: 1px solid black;
  height: 400px;
}


.reg-form h3{
  padding-top: 30px;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
 font-family:  'Dancing Script', cursive;
}
.reg-form p{

     padding: 0px 0px;
    /* text-align: center; */
    color: #000;
    font-size: 19px;
    font-family:  'Dancing Script', cursive;
    /* padding-left: 130px; */
    /* padding-top: 10px; */
    line-height: 25px;
    font-weight: 500;
    text-align: center;
    /* margin-right: 45px; */
    /*margin-left: 100px*/
}
.reg-form iframe{
  width: 100%;
  margin-top: 50px;
}
.reg-form h5{
  margin-left: 0px;
text-align: center;
}


.reg-form img{
  /*padding-left: 68px;*/.

}
.reg-form p{
  text-align: center;
}
/*COntact US*/





/*Event Page*/
.adopt h2{
  text-align: center;
  font-size: 36px;
 font-family:  'Dancing Script', cursive;
}


/*Adoption Page*/

.event h2{
  text-align: center;
  font-size: 36px;
 font-family:  'Dancing Script', cursive;
}


.event {
  /*background-color: lightgrey !important;*/
  margin-bottom: 100px;
}

#event2{
  background-color: #f5b8b0;
}
sup {
    vertical-align: super;
    font-size: smaller;
}


#event2 h5{
  font-size: 16px;
  padding-top: 30px;
}

#event2 p{
  font-size: 16px;


}
#event3{
  background-color: #b8dae3;
  margin-left: 0px;
}
#event3 h5{
  font-size: 16px;
  padding-top: 30px;
}

#event3 p{
  font-size: 16px;


}

#event4{
  background-color: #a0b5ba;
  margin-left: 0px;
}
#event4 h5{
  font-size: 16px;
  padding-top: 30px;
}

#event4 p{
  font-size: 16px;


}


/*Event Page*/





/*Adoption page*/

.adopt{
  background-image:  url('https://shop.textalk.se/shop/7500/files/Malin/Headers/graycatheader01.jpg');
  height: 800px;
  width: 100%;
  background-repeat: no-repeat;
  /* position: absolute; */
}

.adopt h2{
  color: white;
  opacity: 0.8;

}
.adopt h6{
  color: red;
  font-size: 28px;
  font-family:  'Dancing Script', cursive;
  text-align: center;
}

#form{
  padding-top: 20px;
  background-color: lightgrey;
  position: relative;
  height: 666px;
  width: 400px;
  opacity: 0.7;
  /*float: left;
  left: 0px;
  margin-left: 10px;*/
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
    margin: 0;
}
#form label{
position: absolute;
color: rgb(121, 84, 84);
font-size: 18px;
font-family:  'Dancing Script', cursive;
opacity: 0.6;
}
#form input{
  width: 50%;
  display: inline; 
}
#form button{
  width: 100%;
  margin-left: 0px;
  margin-top: 10px;
}

#form button:hover{
background-color: red;
transition: 1s;
}
/*Adoption page*/